.body{
    max-width: 1270px;
    margin: 0 auto;
    background-color: aliceblue;
}
.hero-container{
    display: flex;
background-color: antiquewhite;
align-items: center;
font-size: medium;
border-radius: 20px;
gap: 20px;

}
.hero-container button{
    border-radius: 30px;
    background-color: rgb(228, 212, 212);
    text-decoration: aliceblue;
    font-size: 1.25em;
    cursor: pointer;
    
}
.hero-container button :hover{
    background-color: rgb(255, 0, 0);
}
.hero-container img{
width: 500px;
height: 500px;
border-radius: 10px;
box-shadow:10px 10px 5px navy;
}
