body {
    max-width: 1270px;
    margin: 0 auto;
}
.card-container{
    text-align: center;
}
.card-section {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

.card {
    width: 300px;
    border: 2px solid maroon;
    text-align: justify;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 3px 3px 3px blueviolet;
}

.card :hover {
    color: antiquewhite;
    background-color: black;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.card h3 {
    font-size: 1.25em;
    font-weight: 800;
    font-style: italic;
}

.card button {
    border-radius: 30px;
    background-color: rgb(228, 212, 212);
    text-decoration: aliceblue;
    font-size: 1.25em;
    cursor: pointer;
}